.mediaViewInfo {
	--web-view-name: A4;
	--web-view-id: A4;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: A4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#A4 {
	position: absolute;
	width: 186px;
	height: 123px;
	background: linear-gradient(157.6deg, rgba(67,98,255,1) 0%, rgba(234,237,255,1) 39.94%, rgba(238,111,111,1) 100%);
	overflow: hidden;
	--web-view-name: A4;
	--web-view-id: A4;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#logo {
	position: absolute;
	width: 26.906px;
	height: 18.5px;
	left: 13px;
	top: 0px;
	overflow: visible;
}
#Line_1 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.30000001192092896px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 186.002px;
	height: 1.3px;
	left: 0px;
	top: 20px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1 {
	fill: rgba(246,231,231,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.30000001192092896px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 129.5px;
	height: 0.3px;
	left: 0px;
	top: 106.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.30000001192092896px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 39.5px;
	height: 0.3px;
	left: 146.5px;
	top: 82.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.30000001192092896px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 17.245px;
	height: 24.173px;
	left: 129.5px;
	top: 82.5px;
	transform: matrix(1,0,0,1,0,0);
}
#NoPath_-_Copy_4 {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 151px;
	top: 89px;
	overflow: visible;
}
#NoPath_-_Copy_3 {
	position: absolute;
	width: 59px;
	height: 59px;
	left: 4px;
	top: 36px;
	overflow: visible;
}
#Shri_Kalabhairava_Travels_ {
	left: 68px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(3,0,0,1);
}
#Drivers_Identity_Card {
	left: 75px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(0,0,0,1);
}
#Name__XYZ_ {
	left: 72px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(10,0,0,1);
}
#Age__XX {
	left: 72px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(0,0,0,1);
}
#Phone_Number___1234567890 {
	left: 72px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(3,0,0,1);
}
#Address__Co_M_N_Bandi_18th_cro {
	left: 73px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(3,0,0,1);
}
#logo_u {
	opacity: 0.07;
	position: absolute;
	width: 191.286px;
	height: 131px;
	left: 0px;
	top: -4px;
	overflow: visible;
}